<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Watchable</title>
    </head>
    <body>
        <h1> Movies to Watch </h1>
        <h2> This Collection Belongs to {{ name }} </h2>
        <h3> movies: {{ movies }} </h3>
        <h3> first: {{ movies[0] }} </h3>
        <h3> slicing: {{ movies[1:4] }} </h3>
        <hr>    
        <dl>
            {% for item in movies %}
                <dt> • the movie is : {{ item }} </dt>
            {% endfor %}
        </dl>
    </body>
</html>